body {
  font: {
    family: 'Open Sans', Helvetica, sans-serif;
  }

  #modal {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    display: none;
  }

  $board-side: 560px;
  #boards {
    //margin: 0 auto;
    width: 1500px; 
    height: $board-side; 
    .board-container {
      height: 440px;
    }
    .board {
      width: 600px; 
      height: 400px; 
      float: left;
      margin-right: 25px  ;
    }
    .pieces {
      float: left;
      width: 200px;
      height: $board-side;
      margin: 0 10px;
      border: 1px solid #000000;
    }
  }

}