doctype html 
html
  head
    //link(href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/style.css')    
    script(src='/js/lib/jquery-1.11.0.min.js')
    //script(src='/js/lib/socket.io.js')    
    //script(src='/js/index.js')
    title Super Awesome Chatroom
  body
    h1 Welcome to Bughouse 
    div
      a(href="/game/create") Create a game 