body {
  font-family: 'Open Sans', Helvetica, sans-serif; }
  body #board-container {
    width: 1500px;
    height: 560px; }
    body #board-container .board {
      width: 600px;
      height: 400px;
      float: left;
      margin-right: 25px; }
    body #board-container .pieces {
      float: left;
      width: 200px;
      height: 560px;
      margin: 0 10px;
      border: 1px solid #000000; }
